@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    margin: 0px;
    padding: 0px;
    font-family: Montserrat;
    color: #320505;

}

body {
    background-color: #FDF3E9;
}


/* ----------------------------------- Topo-lilais -------------------------------------*/
aside {
    background-color: #C2C0E6;
    width: 100%;
    height: 35px;
    align-content: center;
    padding: 0px 50px 0px 50px;


}

.container-info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.topo-redes {
    display: flex;
    padding: 0px;
    width: auto;

}

.topo-redes figure {

    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 0px;

}


.topo-texto {
    display: flex;
    justify-items: center;
    justify-self: center;
}

.topo-texto h6 {
    margin: 0px;
    font: Montserrat;
    font-weight: 255;
}


.icon-cafe {
    display: flex;
    margin: 0px;
    justify-content: end;
    width: auto;
}

/* fim topo-lilais */

/*------------------------------------ Nav ---------------------------------- */
.container-nav {
    background-color: #F7E6DE;
    align-content: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-self: center;
    align-content: center;
}

.link-nav {
    display: flex;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 65px;
    justify-content: space-around;
    align-items: center;
}

.logo {
    display: flex;

}

.logo h3 {
    margin: 0px;
}

.container-li {
    display: flex;
    list-style: none;
}

.nav-item a {
    font-size: 20px;
    margin-left: 50px;
    margin-right: 10px;
}

button {
    background-color: #00000000;
    border: none;
}

/* ~ -------------------- Home -------------------------- */
.inicio {
    background-image: url(src/papel.png);
    display: block;
    width: 100%;
    height: 450px;
    justify-items: center;
    padding-top: 25px;
}

.conteiner-inicio {
    display: flex;
    width: 75%;
    height: 400px;
    align-items: center;
   

}

.fotografia {
    width: 25%;
    height: 100%;
    justify-items: center;
    align-content: center;
}

.fotografia img {
    width: 100%;
    border-radius: 50px;
}


.conteiner-texto {
    width: 65%;
    padding-left: 20px;
    justify-items: first baseline;
}

.ini-text {
    width: 100%;
}


.hello {
    width: 100%;
    transition: font-size 0.3s ease-in-out;
}

.hello:hover {
    width: 100%;
    font-size: 50px;
}

.conteiner-texto hr {
    width: auto;
}

.apresentacao h2 {
    font-size: 25px;
}

.apresentacao p {
    font-size: 20px;
}



.text-vc {
    color: #FF9D00;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    transition: font-size 0.3s ease-in-out;
}

.text-vc:hover {
    font-size: 30px;
}

.btn {
    background-color: #EEB178;
    width: 200px;
    height: 40px;
    border-radius: 15px;
    font-weight: 600;
    transition: font-size 0.3s ease-in-out;
    transition: width 0.10s ease-in-out;
    transition: height 0.10s ease-in-out;
    color: #320505;
}

.btn:hover {
    background-color: #EEB178;
    width: 200px;
    height: 45px;
    border-radius: 15px;
    font-weight: 800;
    font-size: 15px;
    transition: width 0.10s ease-in-out;
    transition: height 0.10s ease-in-out;
}

.grade-parallax{
    background-image: url(src/grade.png);
    width: 100%;
    height: 100px;
    background-attachment: fixed; 
}

/* ~ -------------------------- SOBRE MIM----------------------- */

.sobre{
    background-color: #C2C0E6;
    height: 500vh;
    justify-items: center;
    padding-top: 30px;
}

.sobre-info{
    background-color: #F7E6DE;
    width: 90%;
    height: 10%;
    border-radius: 50px;
    justify-items: center;
    align-items: center;
    margin-top: 50px;
}

.sobre-info h1{
    padding: 50px 0px 20px 0px;
    justify-content: center;
}

.sobre-info p{
    width: 90%;
    font-size: 20px;
}


.sobre-trajetoria{
    background-color: #F7E6DE;
    width: 90%;
    height: 10%;
    border-radius: 50px;
    justify-items: center;
    align-items: center;
    margin-top: 50px;
    padding-top: 50px;
}

.skils{
    background-color: #EEB178;
    width: 90%;
    height: 250px;
    
}

.container-skils{
    display: flex;
}
/*
.ferramentas{
    display: ;
}
/* ^ ------------------------------------- RESPONSIVO----------------------------- */
/* telas com largura máxima de 540px - responsivo para telas menores que 540 */

/* * topo lilais */
@media (max-width: 540px) {

    aside {
        padding: 0px;
        margin: 0px;
        width: 100%;

    }

    .container-info {
        width: 100%;
        justify-content: center;
        justify-self: center;
    }

    .topo-redes {
        width: auto;

    }


    .icon-cafe {
        display: ;
        width: auto;
        padding: 0px;

    }

    .topo-texto {
        padding: 0px;
    }

    .topo-texto h6 {
        justify-self: center;
        justify-content: center;
        justify-items: center;
    }

}

@media (max-width: 640px) {

    aside {
        padding: 0px;
        margin: 0px;
        width: 100%;
        justify-items: flex-start;
    }

    .container-info {
        width: 100%;
        justify-content: center;
        justify-self: center;
    }

    .topo-redes {
        display: none;
    }


    .icon-cafe {
        display: none;

    }


    .topo-texto {
        width: 100%;
    }

    .topo-texto h6 {
        font-size: 15px;
        justify-self: center;

    }

}

/* * Nav ---- finalizar*/
@media (max-width: 768px) {

    .container-nav {
        display: flex;

    }

    .link-nav {
        display: flex;
        justify-content: space-around;
        width: 100%;
        height: 50px;

    }

    .container-li {
        display: none;
    }

    .logo {
        display: flex;
        height: 50px;
        margin-right: 20%;
        align-content: center;
        align-items: center;

    }



    .hamburguer {
        display: flex;
        height: 50px;
        margin-left: 15%;
        align-items: center;

    }

    .hamburguer img {
        display: flex;
        width: auto;
        height: 20px;

    }

}

@media (min-width: 768px) {

    .hamburguer {
        display: none;
    }

    .hamburguer img {}

}


/* * Conteudo do inicio */

@media (max-width: 425px) {
    .conteiner-inicio{
        display: block;
       
        height: 500px;
        justify-items: center;
        align-items: first baseline;
    }

    .fotografia{
        width: 200px;
    }
}